#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 10em;
  margin: 0;
  padding: 0;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #febc4c);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #ffca70);
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.response {
  background: #444444;
  border-radius: 15px;
  padding: 2rem;
}

.code {
  text-align: start;
  max-width: 500px;
  margin: auto;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.docs-link {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: rgba(255, 255, 255, 0.87);
}
.docs-link:hover {
  border-color: #646cff;
}
.docs-link:focus,
.docs-link:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
